$containerColor: rgba(255, 255, 255, 0.3);
$colorOne: rgb(211, 110, 110);
$colorTwo: rgb(90, 5, 5);
$containerShadow: 0px 0px 30px $colorTwo;

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    height: 100vh;
    background: linear-gradient($colorOne, $colorTwo);
    .container {
        height: 100vh;
        .header {
            background-color: $containerColor;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            box-shadow: $containerShadow;
            padding: 10px;
        }
        .innerCntr {
            display: flex;
            padding: 60px 10px;
            .labels{
                height: 700px;
                width: 200px;
                margin: 0px 30px;
                background-color: $containerColor;
                border-radius: 5px;
                    .labelContainer {
                        display: flex;
                        justify-content: center;
                        
                        overflow-y: auto;
                        height: 300px;
                        .default {
                            display: flex;
                            font-size: 25px;
                            padding: 10px;
                            background-color: $containerColor;
                            border-radius: 5px;
                            border: 2px solid $containerColor;   
                        }
                        #list{
                            display: none;
                            background-color: $colorOne;
                        } 
                        #list.active {
                            display: block;
                            list-style: none;
                            scroll-padding: 0px;
                        }
                    }

            }
            .field {
                height: 700px;
                width: 80%;
                background-color: $containerColor;
            }
        }
        
    }
}
