$containerColor: rgba(255, 255, 255, 0.3);
$colorOne: rgb(110, 211, 169);
$colorTwo: rgb(3, 63, 228);
$containerShadow: 0px 0px 30px $colorTwo;

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    height: 100vh;
    background: linear-gradient($colorOne, $colorTwo);
    .container {
        height: 100vh;
        .header {
            background-color: $containerColor;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            box-shadow: $containerShadow;
            padding: 10px;
        }
        .innerCntr {
            display: flex;
            height: 80vh;
            justify-content: center;
            align-items: center;
                .finalCntr {
                    display: flex;
                    height: 700px;
                    width: 700px;
                    margin: 0px 30px;
                    background-color: $containerColor;
                    border-radius: 5px;
                }
            .labels{
                margin: 0px 10px;
                    .labelContainer {
                        display: flex;
                        flex-direction: column;
                        .category {
                            display: flex;
                            width: 200px;
                            font-size: 25px;
                            padding: 10px;
                            margin: 9px 0px;
                            background-color: $containerColor;
                            border-radius: 5px;
                            border: 5px solid $containerColor;
                            .options { 
                                font-size: 20px;
                                background-color: $colorOne;
                            }
                        }
                        #quirk, #hair, #hobby, #trait, #profession {
                            width: 170px;
                        }
                        
                        
                    }
            }
            .fieldContainer {
                width: 60%;
                text-align: center;
                .fields {
                    text-align: center;
                    padding: 10px;
                    font-size: 30px;
                    .field {
                        margin: 30px 0;
                    }
                }
            }
        }
        
    }
}
